.costWrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 0.7;
  flex-grow: 1;
}
.shardsContainer, .apContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cost {
  width: 16px;
  height: 16px;
  overflow: hidden;
  margin: 0 5px;
}
.shard {
  position: relative;
  top: -16px;
}
.costValue {
  width: 55px;
  user-select: all;
}

@media screen and (max-width: 410px) {
  .costWrapper {
    flex-direction: column;
    align-items: baseline;
  }
  .shardsContainer {
    margin-bottom: 5px;
  }
  .costValue {
    width: 40px;
  }
}