.stigmaSlots {
  display: flex;
  width: 375px;
  height: 265px;
  background-color: #626262;
  border-radius: 5px;
  outline: 2px solid #f7912b;
}
.stigmaSlots > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 180px;
  height: 250px;
  z-index: 1;
}
.stigmaSlots .stigma:hover {
  outline: none;
  border: none;
}
.nSlot, .aSlot, .nSlotClosed, .aSlotClosed {
  display: inline-block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: relative;
}
.nSlot:hover .nSlotImg {
  position: relative;
  right: 80px;
}
.aSlot img {
  position: relative;
  top: -80px;
  z-index: 1;
}
.aSlot:hover .aSlotImg {
  position: relative;
  right: 80px;
  z-index: 1;
}
.nSlotClosed img {
  position: relative;
  top: 0px;
  right: 160px;
}

.aSlotClosed img {
  position: relative;
  top: -80px;
  right: 160px;  
}

.stigmaIconBox {
  position: absolute;
  top: 19px;
  left:19px;
  margin-top: -2px;
  width: 40px;
  height: 40px;
  z-index: 3;
}
.aSlot .stigmaIconBox {
  top: 100px;
}
.stigmaIconBox img, .stigmaIconBox img:hover {
  border: none;
  outline: none;
  padding: 1px;
}

@media screen and (max-width: 750px) {
  .stigmaSlots {
    width: calc(100vw - 10px);
    height: auto;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
  }
  .stigmaSlots > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}


