.header {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #404040;
  border-radius: 5px;
  outline: 2px solid #f7912b;
  color: #f7912b;
}
h1 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin: 0;
}
.topBar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.sides {
  position: relative;
  display: flex;
  width: 50px;
  height: 34px;
  overflow: hidden;
  cursor: pointer;
}
.asmo{
  position: absolute;
  top: -32px; 
}
.header h3 {
  display: flex;
  justify-content: center;
  width: 110px;
  margin-right: 10px;
}
