.classesList {
  width: 720px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  flex-direction: row;
  margin: 0;
  padding: 0;
  user-select: none
}
.classesList li {
  width: 64px;
  height: 64px;
}
.classesList li a {
  width: 100%;
  height: 100%;
}
.active {
  opacity: 1;
}
.inactive {
  opacity: 0.7;
}
.classesList a:nth-child(1) {
  background: url("https://raw.githubusercontent.com/Aliphas/aioncalc-images/main/global/gladiator.png");
}
.classesList a:nth-child(2) {
  background: url("https://raw.githubusercontent.com/Aliphas/aioncalc-images/main/global/templar.png");
}
.classesList a:nth-child(3) {
  background: url("https://raw.githubusercontent.com/Aliphas/aioncalc-images/main/global/cleric.png");
}
.classesList a:nth-child(4) {
  background: url("https://raw.githubusercontent.com/Aliphas/aioncalc-images/main/global/chanter.png");
}
.classesList a:nth-child(5) {
  background: url("https://raw.githubusercontent.com/Aliphas/aioncalc-images/main/global/assassin.png");
}
.classesList a:nth-child(6) {
  background: url("https://raw.githubusercontent.com/Aliphas/aioncalc-images/main/global/ranger.png");
}
.classesList a:nth-child(7) {
  background: url("https://raw.githubusercontent.com/Aliphas/aioncalc-images/main/global/sorcerer.png");
}
.classesList a:nth-child(8) {
  background: url("https://raw.githubusercontent.com/Aliphas/aioncalc-images/main/global/spiritmaster.png");
}
.classesList a:nth-child(9) {
  background: url("https://raw.githubusercontent.com/Aliphas/aioncalc-images/main/global/songweaver.png");
}
.classesList a:nth-child(10) {
  background: url("https://raw.githubusercontent.com/Aliphas/aioncalc-images/main/global/gunner.png");
}
.classesList a:nth-child(11) {
  background: url("https://raw.githubusercontent.com/Aliphas/aioncalc-images/main/global/aethertech.png");
}