.stigmaListWrapper {
  width: 325px;
  height: 240px; 
  grid-column: 2;
  grid-row: 1;
  padding-top: 25px;
  background-color: #626262;
  border-radius: 5px;
  outline: 2px solid #f7912b;
}
.stigmaList {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 10px;
}