.aionCalcWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(61, 61, 61);
  width: 100vw;
  min-height: 100vh;
}
.aionCalc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  margin-top: 30px;
}
@media screen and (max-width: 750px) {
  .aionCalc {
    margin-top: 5px;
  }
}
