.stigmaTrees {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 720px;
  max-width: 100%;
  height: 320px;
  margin-top: 20px;
  background-color: #626262;
  border-radius: 5px;
  outline: 2px solid #f7912b;
}
.tree {
  position: relative;
  display: flex;
  height: 100%;
  width: 300px;
  padding: 20px 0px 0px 40px;
  overflow: hidden;
}
.column {
  width: 40px;
  height: 90%;
  margin-right: 40px;
}
.column:last-child {
  margin: 0;
}
.none {
  display: none;
}
.a0 {
  margin-top: 23px;
}
.a1 {
  margin-top: 28px;
}
.a2 {
  margin-top: 46px;
}
.a3 {
  margin-top: 75px;
}
.a4 {
  margin-top: 100px;
}
.arrow1 {
  position: absolute;
  top: 35px;
  left: 85px;
}
.arrow4 {
  position: absolute;
  top: 185px;
  left: 162px;
}
