.mainContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 720px;
  max-width: 100vw;
  min-height: 550px;
}
.topPartWrapper {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .mainContent {
    width: calc(100vw - 10px);
  }
  .topPartWrapper {
    width: calc(100vw - 10px);
  }
}
